<a href="/groups/<%=group.id%>">
  <article class="message is-warning">
    <div class="message-header">
      <%=group.name%>
    </div>
    <div class="message-body">
      <strong>Lead by <%=group.leader.username%></strong>
      <br>
      <%=group.description%>
    </div>
  </article>
</a>
<br>