<div class="columns is-centered landing">
	<div class="column is-one-third has-text-centered">
	  	<img class="center" src="/pray.png" alt="Pray For One Another">
	  	<br>
		<h1 class="title is-1">Pray for One Another!</h1>
		<p class="subtitle is-6">Do nothing from selfishness or empty conceit, but with humility of mind regard one another as more important than yourselves (Philippians 2:3-4)</p>
		<% if user_signed_in? %>
			<div class="column is-one-third is-offset-one-third">
				<%= link_to "See Prayers", prayers_path, :class => "button is-primary centered" %>
			</div>
		<% else %>
			<div class="column is-one-third is-offset-one-third">
				<%= link_to "Sign Up", new_user_registration_path, :class => "button is-primary centered" %>
			</div>
			<div class="column is-one-third is-offset-one-third">
				<%= link_to "Log In", new_user_session_path, :class => "button is-primary centered" %>
			</div>
		<% end %>

	</div>
</div>